@{
    ViewBag.Title = "Home Page";
}

<div style="display: table-row;">
    <div class="jumbotron" style="vertical-align:top;  display: table-cell;">
        <h1>Knowledge Storr</h1>
        <p style="float: left">A lite knowledge base web application by James Storr </p>
    </div>
    <div style="display: table-cell;">
        <p class="col-lg-6"> <img height="250" width="300" src="~/Content/Images/book-1421245.jpg" /></p> 
    </div>
</div>


  

    


<div class="container col-lg-12">
    @Html.Action("ArticlesFilter", "Articles")

</div>

